---
layout: default
---
{% if page._styles %}
  <!-- Page/Post style -->
  <style type="text/css">
    {{ page._styles }}
  </style>
{% endif %}

<div class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-description">{{ page.description }}</p>
  </header>

  <article>
    {{ content }}
    {% if page.preview_galleries %}
      {% for g in page.preview_galleries %}
        {% if g.generate and g.generate == false %}
        {% else %}
          <div id="{{ g.id }}" class="preview-gallery">
            <a href="{{ g.url }}" class="preview-gallery-image-link">
              <img src="{{ g.images[0] }}" class="preview-gallery-image">
            </a>
            <div class="preview-gallery-title">
              <a href="{{ g.url }}">{{ g.title }}</a>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    {% endif %}
  </article>

  {% if page.related_publications %}
    <h2>References</h2>
    <div class="publications">
      {% bibliography --cited_in_order %}
    </div>
  {% endif %}

  {% if site.giscus and page.giscus_comments %}
    {% include giscus.liquid %}
  {% endif %}
</div>
